# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# IDE
.idea/

# Logs
*.log

# Environment / secrets
.env
.env.*
!.env.example

# Temporary files
*.tmp
*.temp

# Node
node_modules/

# Build output
dist/
build/